In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data.csv')
df.head()

,トランザクションID,顧客ID,日付,商品名,単価,個数,値引き,キャンペーンコード,金額,性別,都道府県,誕生月,支払い方法,退会フラグ
0,b9d40380-35c2-48fc-929f-504b2cf427db,95,2018-10-15,978-0-487-71309-9,809,1,111,19,698,女性,奈良県,10,コンビニ決済,1
1,05b17346-aa76-472a-b609-86c776e1b5f3,23,2018-03-04,978-1-5203-7611-0,2430,1,257,24,2173,不明,福井県,8,コンビニ決済,1
2,a129245f-0ed5-4d0f-bdb0-879604788270,22,2018-07-21,978-1-4015-6783-5,540,1,210,13,330,不明,石川県,10,銀行決済,1
3,56ab6ad3-c12a-4da8-a7a9-cd09f989b87e,71,2018-01-30,978-1-890283-69-8,1028,3,128,10,2956,女性,石川県,3,銀行決済,1
4,4b50fbd1-3088-491b-9b70-499ce327fbde,53,2018-01-18,978-1-00-029459-0,2267,3,146,0,6655,男性,宮崎県,6,クレジット決済,1

In [3]:
print(df.shape)

(4000, 14)

In [4]:
print(df['日付'].max())
print(df['日付'].min())

2019-01-01
2018-01-01

In [5]:
print(df['商品名'].nunique())

4000

In [6]:
df = df.drop(columns=['商品名'], axis=1)
df.head()

,トランザクションID,顧客ID,日付,単価,個数,値引き,キャンペーンコード,金額,性別,都道府県,誕生月,支払い方法,退会フラグ
0,b9d40380-35c2-48fc-929f-504b2cf427db,95,2018-10-15,809,1,111,19,698,女性,奈良県,10,コンビニ決済,1
1,05b17346-aa76-472a-b609-86c776e1b5f3,23,2018-03-04,2430,1,257,24,2173,不明,福井県,8,コンビニ決済,1
2,a129245f-0ed5-4d0f-bdb0-879604788270,22,2018-07-21,540,1,210,13,330,不明,石川県,10,銀行決済,1
3,56ab6ad3-c12a-4da8-a7a9-cd09f989b87e,71,2018-01-30,1028,3,128,10,2956,女性,石川県,3,銀行決済,1
4,4b50fbd1-3088-491b-9b70-499ce327fbde,53,2018-01-18,2267,3,146,0,6655,男性,宮崎県,6,クレジット決済,1

In [19]:
df['target'] = df['退会フラグ']
train = df[df['日付'] < '2018-07-01']
test = df[df['日付'] >= '2018-07-01']
print(train.shape)
print(test.shape)

(1944, 14)
(2056, 14)

In [8]:
print(train['顧客ID'].nunique())
print(test['顧客ID'].nunique())

100
100

In [9]:
print(train.groupby('').sum())
print(test['退会フラグ'].sum())

987
1013

In [11]:
train.groupby('顧客ID')['退会フラグ'].max().sum()

29

In [12]:
test.groupby('顧客ID')['退会フラグ'].max().sum()

29

In [20]:
train.to_csv('train.csv',index=False)
test.to_csv('test.csv',index=False)

In [18]:
import os
path = os.path.join(os.path.abspath('./'), 'input')
print(path)

/Users/takizawatakafumi/saas/cognimaker/tests/test_moel/input/input